.data-view {
    width: 100%;
    height: 100%;
}

.data-view-main {
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data-view-select {
    height: 50px;
    display: flex;
    align-items: center;
}

.data-view-charts {
    width: 100%;
    height: 500px;
}