.data-view {
    width: 100%;
    height: 100%;
}

.data-view-main {
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data-view-select {
    height: 50px;
    display: flex;
    align-items: center;
}

.data-view-charts {
    width: 100%;
    height: 500px;
    border: 1px solid #e9e9e9;
}

.ant-message {
  z-index: 10000!important; /* 提高 message 的层级 */
}